body {
  margin:0px;
  background-color:rgba(235, 239, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:1200px;
  height:445px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:157px;
  width:104px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u10180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  padding:10px 10px 10px 10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#111111;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u10181_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  padding:10px 10px 10px 10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#111111;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u10181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#111111;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:151px;
  width:360px;
  height:160px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#111111;
}
#u10181 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10181_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#111111;
}
#u10181.disabled {
}
#u10182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
  text-align:right;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:387px;
  width:104px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
  text-align:right;
}
#u10182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A6A8B6;
}
#u10183 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:387px;
  width:360px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A6A8B6;
}
#u10183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(62, 134, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10184 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:341px;
  width:120px;
  height:36px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:28px;
  width:70px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u10186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:34px;
  width:5px;
  height:8px;
  display:flex;
  color:#616A7D;
}
#u10187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:28px;
  width:58px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u10188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 231, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#28344C;
}
#u10189 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:76px;
  width:1160px;
  height:55px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#28344C;
}
#u10189 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u10189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
