.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.line {
}
.connector {
  font-size:14px;
}
.sticky_1 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.line1 {
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.shape1 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image1 {
  color:#000000;
}
.placeholder {
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont Medium', 'iconfont', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落 {
  text-align:left;
}
.icon {
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.shape2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.button {
}
.link_button {
  color:#169BD5;
}
._形状 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
}
._图片 {
  color:#000000;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.form_disabled1 {
}
.text_area1 {
  color:#FFFFFF;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
textarea, select, input, button { outline: none; }
