body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:835px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1638 {
  position:fixed;
  left:50%;
  margin-left:-442.5px;
  top:0px;
  width:885px;
  height:56px;
}
#u1638_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(23, 213, 171, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:335px;
  height:56px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1640 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:19px;
  width:18px;
  height:18px;
  display:flex;
}
#u1641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:885px;
  height:56px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1643 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
}
.u1645 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:3px;
  width:144px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
}
.u1645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1646 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:3px;
  width:60px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1647 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:3px;
  width:69px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1647_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1647.selected {
}
.u1647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u1648 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:6px;
  width:14px;
  height:14px;
  display:flex;
}
.u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1649 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:23px;
  width:89px;
  height:17px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#17D5AB;
  text-align:right;
}
.u1649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#17D5AB;
  text-align:right;
}
.u1650 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:45px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#17D5AB;
  text-align:right;
}
.u1650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1651 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:23px;
  width:2px;
  height:100px;
}
.u1651_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.192156862745098);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(23, 213, 171, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.u1652 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:31px;
  width:700px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.u1652 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
.u1652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1644-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:123px;
}
#u1644-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:835px;
  height:123px;
}
#u1644-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:835px;
  height:123px;
}
#u1644-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:835px;
  height:123px;
}
#u1644-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:492px;
  width:835px;
  height:123px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:80px;
  width:835px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
