body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:9000px;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:9000px;
  overflow:hidden;
}
