body {
  margin:0px;
  background-color:rgba(235, 239, 247, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:794px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1146px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2292px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3438px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4584px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5730px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6876px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8022px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9077 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:752px;
  width:60px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9077_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9078 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:808px;
  width:70px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9079 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:863px;
  width:100px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9080 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:921px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9080_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
