body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1440px;
  height:2000px;
}
#u1265_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2000px;
  overflow:auto;
}
#u1266 {
  position:fixed;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u1266_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(62, 134, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1267 {
  position:fixed;
  left:50%;
  margin-left:-453px;
  top:11px;
}
#u1267_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:906px;
  height:39px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:140px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1268 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1268_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1268.selected {
}
#u1268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:0px;
  width:120px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1269 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1269_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1269.selected {
}
#u1269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:0px;
  width:100px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1270 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1270_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1270.selected {
}
#u1270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:0px;
  width:114px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1271 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1271_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1271.selected {
}
#u1271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1272 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1272_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1272.selected {
}
#u1272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:0px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1273 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1273_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1273.selected {
}
#u1273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1274 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1274_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1274.selected {
}
#u1274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(190, 212, 248, 0.00392156862745098);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1275 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1275_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(190, 212, 248, 0.996078431372549);
}
#u1275.selected {
}
#u1275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:10px;
  width:147px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:32px;
  width:169px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1282 {
  position:fixed;
  right:30px;
  top:10px;
}
#u1282_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(234, 187, 7, 0);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
}
#u1283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1283_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(234, 187, 7, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283.selected {
}
#u1283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:20px;
  height:20px;
  display:flex;
}
#u1284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
