body {
  margin:0px;
  background-color:rgba(235, 239, 247, 1);
  background-image:url('../../images/10_4健康小屋问卷登记页/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:1200px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u11997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:1310px;
}
#u11998_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1310px;
  overflow:auto;
}
