body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:128px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:128px;
  width:254px;
  height:45px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:217px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:231px;
  width:254px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:300px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:383px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:311px;
  width:254px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:394px;
  width:254px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:150px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1519_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:95px;
  height:12px;
}
#u1519_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:172px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1520_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:51px;
}
#u1520_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:27px;
  width:22px;
  height:23px;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:261px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1521_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:45px;
}
#u1521_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:21px;
  width:22px;
  height:23px;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:344px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1522_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:45px;
}
#u1522_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:21px;
  width:22px;
  height:23px;
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:472px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:427px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1524_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:51px;
}
#u1524_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:27px;
  width:22px;
  height:23px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:472px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:494px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1526_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:88px;
  height:12px;
}
#u1526_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:472px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:494px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1528_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:66px;
  height:12px;
}
#u1528_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:979px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1529 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
