body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:973px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:450px;
  width:57px;
  height:16px;
  display:flex;
}
#u621 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u621_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:76px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方 Regular', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:76px;
  display:flex;
  font-family:'苹方 常规', '苹方 Regular', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.654901960784314);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:23px;
  width:83px;
  height:30px;
  display:flex;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:29px;
  width:19px;
  height:19px;
  display:flex;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:33px;
  width:11px;
  height:11px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:36px;
  width:5px;
  height:5px;
  display:flex;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:36px;
  width:5px;
  height:5px;
  display:flex;
}
#u631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:34px;
  width:8px;
  height:8px;
  display:flex;
}
#u632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
