body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1140px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:161px;
  width:88px;
  height:88px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:382px;
  width:88px;
  height:88px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:161px;
  width:88px;
  height:88px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:382px;
  width:88px;
  height:88px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:382px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1290_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-133px;
  width:12px;
  height:139px;
}
#u1290_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-138px;
  width:22px;
  height:23px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:161px;
  width:88px;
  height:88px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:228px;
  width:196px;
  height:181px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:249px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#616A7D;
}
#u1293_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:139px;
}
#u1293_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:115px;
  width:22px;
  height:23px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:161px;
  width:387px;
  height:109px;
  display:flex;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:205px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#616A7D;
}
#u1295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:200px;
  height:12px;
}
#u1295_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:205px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1296_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:201px;
  height:12px;
}
#u1296_seg1 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:397px;
  width:387px;
  height:121px;
  display:flex;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1298_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:483px;
  height:12px;
}
#u1298_seg1 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:188px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:243px;
  width:209px;
  height:83px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:161px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
  text-align:left;
}
#u1300_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-56px;
  width:12px;
  height:56px;
}
#u1300_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-56px;
  width:577px;
  height:12px;
}
#u1300_seg2 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:-56px;
  width:12px;
  height:56px;
}
#u1300_seg3 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:-18px;
  width:22px;
  height:23px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:232px;
  top:-80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
