body {
  margin:0px;
  background-color:rgba(235, 239, 247, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:794px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1166px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2312px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1136px;
}
#u9065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3458px;
  width:794px;
  height:1136px;
  display:flex;
}
#u9065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9066 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:772px;
  width:60px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9066_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9067 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:828px;
  width:70px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9067_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9068 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:883px;
  width:100px;
  height:26px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9068_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
