body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:163px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:979px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3E86FF;
}
#u1531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:285px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:95px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:95px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:285px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:213px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1536_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:56px;
  height:12px;
}
#u1536_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-102px;
  width:12px;
  height:108px;
}
#u1536_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-102px;
  width:23px;
  height:12px;
}
#u1536_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-107px;
  width:23px;
  height:22px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:213px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1537_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:56px;
  height:12px;
}
#u1537_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-6px;
  width:12px;
  height:106px;
}
#u1537_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:88px;
  width:23px;
  height:12px;
}
#u1537_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:83px;
  width:23px;
  height:22px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:117px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1538_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:67px;
  height:12px;
}
#u1538_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:307px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1539_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:67px;
  height:12px;
}
#u1539_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:285px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:307px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1541_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:33px;
  height:12px;
}
#u1541_seg1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:353px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:421px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:329px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1544_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:52px;
}
#u1544_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:40px;
  width:141px;
  height:12px;
}
#u1544_seg2 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:35px;
  width:23px;
  height:22px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:329px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1545_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:120px;
}
#u1545_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:108px;
  width:141px;
  height:12px;
}
#u1545_seg2 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:103px;
  width:23px;
  height:22px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:106px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:940px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:335px;
  width:260px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:893px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:968px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:584px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:513px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:180px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:612px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:612px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:612px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:673px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:673px;
  width:309px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:562px;
  width:194px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:634px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1558_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:35px;
  height:12px;
}
#u1558_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-105px;
  width:12px;
  height:111px;
}
#u1558_seg2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-105px;
  width:44px;
  height:12px;
}
#u1558_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-110px;
  width:23px;
  height:22px;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:634px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1559_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:73px;
  height:12px;
}
#u1559_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:634px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1560_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:67px;
  height:12px;
}
#u1560_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:634px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1561_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:57px;
  height:12px;
}
#u1561_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:656px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1562_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:45px;
}
#u1562_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:33px;
  width:131px;
  height:12px;
}
#u1562_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:28px;
  width:23px;
  height:22px;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:535px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1563_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:36px;
  height:12px;
}
#u1563_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-6px;
  width:12px;
  height:111px;
}
#u1563_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:37px;
  height:12px;
}
#u1563_seg3 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:88px;
  width:23px;
  height:22px;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:740px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:809px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:717px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1566_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:29px;
}
#u1566_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:5px;
  width:22px;
  height:23px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:784px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1567_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:31px;
}
#u1567_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:7px;
  width:22px;
  height:23px;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:893px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:893px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:893px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1571_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:34px;
  height:12px;
}
#u1571_seg1 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-81px;
  width:12px;
  height:87px;
}
#u1571_seg2 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-81px;
  width:45px;
  height:12px;
}
#u1571_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-86px;
  width:23px;
  height:22px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-51px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:915px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1572_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:67px;
  height:12px;
}
#u1572_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:915px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1573_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:57px;
  height:12px;
}
#u1573_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:915px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1574_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:75px;
  height:12px;
}
#u1574_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:893px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:915px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1576_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:64px;
  height:12px;
}
#u1576_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1577_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:73px;
  height:12px;
}
#u1577_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:968px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:968px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:1032px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:968px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1582_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:67px;
  height:12px;
}
#u1582_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1583_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:57px;
  height:12px;
}
#u1583_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:1054px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1584_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:149px;
  height:12px;
}
#u1584_seg1 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:-42px;
  width:12px;
  height:48px;
}
#u1584_seg2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-47px;
  width:22px;
  height:23px;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1585_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:75px;
  height:12px;
}
#u1585_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1585_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:1012px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1586_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:26px;
}
#u1586_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:2px;
  width:22px;
  height:23px;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:968px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1032px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1589_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:64px;
  height:12px;
}
#u1589_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-11px;
  width:23px;
  height:22px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:990px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1590_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:46px;
  height:12px;
}
#u1590_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-6px;
  width:12px;
  height:76px;
}
#u1590_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:58px;
  width:24px;
  height:12px;
}
#u1590_seg3 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:23px;
  height:22px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:1028px;
  width:233px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:831px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1592_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:35px;
  height:12px;
}
#u1592_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-203px;
  width:12px;
  height:209px;
}
#u1592_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-203px;
  width:35px;
  height:12px;
}
#u1592_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-208px;
  width:23px;
  height:22px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-106px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:159px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 174, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:223px;
  width:148px;
  height:44px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:139px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1595_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:48px;
}
#u1595_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:36px;
  width:141px;
  height:12px;
}
#u1595_seg2 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:31px;
  width:23px;
  height:22px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:139px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1596_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:112px;
}
#u1596_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:100px;
  width:141px;
  height:12px;
}
#u1596_seg2 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:95px;
  width:23px;
  height:22px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:95px;
  width:260px;
  height:140px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u1597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
