body {
  margin:0px;
  background-color:rgba(235, 239, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:1200px;
  height:468px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 231, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#28344C;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:76px;
  width:1160px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#28344C;
}
#u7970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:158px;
  width:81px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:268px;
  width:104px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(62, 134, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:442px;
  width:120px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 198, 207, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:442px;
  width:80px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7976_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:150px;
  width:360px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7976_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7976.disabled {
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#616A7D;
}
#u7978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:34px;
  width:5px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#616A7D;
}
#u7979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:28px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:0px;
  width:300px;
  height:76px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  padding:10px 10px 10px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7982_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  padding:10px 10px 10px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u7982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:262px;
  width:360px;
  height:160px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7982 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7982_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7982.disabled {
}
#u7983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:214px;
  width:81px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7984_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#28344C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 244, 249, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:206px;
  width:360px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7984 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7984_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#28344C;
}
#u7984.disabled {
}
.u7984_input_option {
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:104px;
  width:280px;
  height:170px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7986 .text {
  position:absolute;
  align-self:flex-start;
  padding:50px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#007BFB;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:224px;
  width:280px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#007BFB;
}
#u7987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
