
#u5468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:1270px;
  width:88px;
  height:32px;
  display:flex;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5468 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5468_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5468.selected {
}
#u5468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:221px;
  width:88px;
  height:32px;
  display:flex;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5469 .text {
  position:absolute;
  align-self:center;
  padding:5px 16px 5px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5469_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5469.selected {
}
#u5469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:70px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:1878px;
  width:441px;
  height:70px;
  display:flex;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u5470 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:134px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:811px;
  width:441px;
  height:134px;
  display:flex;
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u5471 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
